@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/HomePageStyleSheet.css">

    @* for toaster message *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>
        #navMenu a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

    </style>
</head>

<body>
    @await Html.PartialAsync("_Notification")
    <header>
        <!-- nav bar here -->
        <nav id="navbar">
            <div class="mainLogo">
                <img src="/assets/logo.png" alt="logo">
                <h5>Dark Furnus</h5>
            </div>
            <div id="navMenu">
                <ul>
                    <li><a href="https://localhost:7019/games/allgames">Games</a></li>
                    <li>Accessories</li>
                    <li>About</li>
                    <li><a href="https://localhost:7019/login/loginview">Login</a></li>
                    <li><a href="https://localhost:7019/userregistration/registrationview">Registration</a></li>
                   
                </ul>
            </div>
            <div class="cartLogo">
                <img src="/assets/icons_cart.png" alt="cart">

            </div>

        </nav>
        <!-- main header -->
        <div id="mainHeader">
            <div id="left">
                <div class="bigText">
                    <span>LET YOUR</span><br />
                    <span>MIND</span><span class="gredient-text"> EXPLORE</span>
                    <br />
                    <span>NEW WORLD</span>
                </div>
                <p>
                    A video game or computer game is an electronic game that involves interaction with a user
                    interface<br />
                    or input device to generate visual feedback from a display device,most commonly shown in a video

                </p>
                <div id="button">
                    <div class="btn btn1">BUY NOW</div>
                    <div class="btn">PLAY NOW</div>
                </div>
                <div id="achivData">
                    <div>
                        <h4>300+</h4>
                        <h4>Unique Style</h4>
                    </div>
                    <div class="gredient-text">
                        <h4>200+</h4>
                        <h4>Projects Finshied</h4>
                    </div>
                    <div>
                        <h4>500+</h4>
                        <h4>Happy Customer</h4>
                    </div>
                </div>
                <img src="/assets/burpy.png">
            </div>
            <div id="right">
                <img src="/assets/ilaysen.png" alt="Ilaysen">
            </div>
        </div>
        <!-- horgintal-band  -->
        <div id="band">
            <div>
                <img src="/assets/star.png">
                ACTION=PACKED
            </div>
            <div>
                <img src="/assets/star.png">
                MIND-BENDING
            </div>
            <div>
                <img src="/assets/star.png">
                COLLECTION OG GAMES
            </div>
        </div>

    </header>
    <main>

        <section>
            <div id="middleText">
                <div class="bigText">
                    <span>CHOOSE YOUR</span><br />
                    <span class="gredient-text">FAVORITE</span>
                    <span>GAME</span>
                </div>
                <div>
                    <p>
                        A video game or computer game is an electronic game
                        <br />
                        that involves interaction with a user
                    </p>
                </div>
            </div>
            <div class="mdImages">
                <img class="sideImg" src="/assets/img1.jpg" alt="">
                <img class="centerImg" src="/assets/img2.jpg" alt="">
                <img class="sideImg" src="/assets/img3.jpg" alt="">
            </div>
            <div class="centerbutton">
                <div class="btn btn1">VIEW ALL</div>
                <div class="btn">PLAY NOW</div>
            </div>

        </section>

        <!-- Discover secton -->
        <section class="discover-section">

            <div class="discover-card">
                <img src="/assets/witcher2.png">
                <DIV class="discover-card-details">

                    <p class="bigTextDiscover">
                        DISCOVER THE<br />
                        <SPAN class="gredient-text">VIRTUAL</SPAN> REALITY<br />
                        GAMING
                    </p>

                    <p class="smallTextDiscover">
                        A virtual reality game or VR games is a video game played on virtual reality
                        (VR) hardware.<br />
                        Most VR games are based on player immersion,
                        typically through head-mounted display unit or headset with stereoscopic displays and one or
                        more controllers
                    </p>

                    <div class="discover-card-details-btn">PLAY NOW</div>
                </DIV>
            </div>



        </section>
    </main>

</body>

</html>
